.container {
    position: relative;
    font-size: 0.8rem;
}

.textAreaContainer label {
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
    color: #7b809a;
    cursor: text;
    user-select: none;
    transition: all 0.2s ease;
}

.textAreaContainer {
    /*width: 11.25rem;*/
    /*height: 2.75rem;*/
    height: 80px;
    position: relative;
    border-radius: 0.375rem;
    padding: 12px 12px 18px 12px;
}

.textAreaContainer textarea {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    /*height: calc(100% + 0.55rem);*/
    height: 100%;
    z-index: 100;
    resize: none;
    /*overflow-y: hidden;*/
}

.textAreaContainer  fieldset {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 0.55rem);
    /*height: 100%;*/
    border: 1px solid #6c757d50;
    padding: 0 6px;
    pointer-events: none;
    border-radius: inherit;
}

.textAreaContainer legend {
    padding: 0 5px;
    font-size: 0.70rem;
    display: none;
    visibility: hidden;
}

.textAreaContainer textarea:focus ~ fieldset > legend {
    display: block;
}

.textAreaContainer textarea:focus ~ fieldset {
    top: -0.55rem;
    height: 100%;
    border: 2px solid #4285F4;
    color: #4285F4;
}

.textAreaContainer textarea:focus + label{
    font-size: 0.7rem;
    top: -8px;
    color: #4285F4;
}